<!-- Visit -->
<div class="visit-schedules container-fluid mb-5">
  <!-- Visit Section title-->
  <div class="visit-schedules-title row">
    <div class="col pt-3">
      <h2 class="mb-1 mt-2">Visits</h2>
    </div>
  </div>

  <div class="visit-schedules-region row example-small-box mat-elevation-z4 p-3">
    <div class="col p-2">
      <!--Carousel Wrapper-->
      <div id="multi-item-example" class="carousel slide" data-ride="carousel">
        <!--Controls-->
        <div class="controls-top">
          <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
          <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fas fa-chevron-right"></i></a>
        </div>

        <!--/.Controls-->

        <!--Indicators-->
        <!-- <ol class="carousel-indicators">
          <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
          <li data-target="#multi-item-example" data-slide-to="1"></li>
        </ol> -->
       
        <!--/.Indicators-->

        <!--Slides-->
        <div class="carousel-inner" role="listbox">
          <!--First slide-->
          <div class="carousel-item active">
            <div class="col-md-3" style="float: left">
              <div class="card m-1">
                <div class="card-body">
                  <h3 class="card-title">
                    Data here
                    <small class="card-subtitle">Day here (Wednesday)...</small>
                  </h3>
                  <p class="card-text">
                    <small>Reason of Visit here ...</small>
                  </p>
                  <p><span class="fas fa-notes-medical"></span></p>
                </div>
              </div>
            </div>

            <div class="col-md-3" style="float: left">
              <div class="card m-1">
                <div class="card-body">
                  <h3 class="card-title">
                    Data here
                    <small class="card-subtitle">Day here (Wednesday)...</small>
                  </h3>
                  <p class="card-text">
                    <small>Reason of Visit here ...</small>
                  </p>
                  <p><span class="fas fa-notes-medical"></span></p>
                </div>
              </div>
            </div>

            <div class="col-md-3" style="float: left">
              <div class="card m-1">
                <div class="card-body">
                  <h3 class="card-title">
                    Data here
                    <small class="card-subtitle">Day here (Wednesday)...</small>
                  </h3>
                  <p class="card-text">
                    <small>Reason of Visit here ...</small>
                  </p>
                  <p><span class="fas fa-notes-medical"></span></p>
                </div>
              </div>
            </div>

            <div class="col-md-3" style="float: left">
              <div class="card m-1">
                <div class="card-body">
                  <h3 class="card-title">
                    Data here
                    <small class="card-subtitle">Day here (Wednesday)...</small>
                  </h3>
                  <p class="card-text">
                    <small>Reason of Visit here ...</small>
                  </p>
                  <p><span class="fas fa-notes-medical"></span></p>
                </div>
              </div>
            </div>

          </div>
          <!--/.First slide-->

          <!--Second slide-->
          <div class="carousel-item">
            <div class="col-md-3" style="float: left">
              <div class="card m-1">
                <div class="card-body">
                  <h3 class="card-title">
                    Data here
                    <small class="card-subtitle">Day here (Wednesday)...</small>
                  </h3>
                  <p class="card-text">
                    <small>Reason of Visit here ...</small>
                  </p>
                  <p><span class="fas fa-notes-medical"></span></p>
                </div>
              </div>
            </div>

            <div class="col-md-3" style="float: left">
              <div class="card m-1">
                <div class="card-body">
                  <h3 class="card-title">
                    Data here
                    <small class="card-subtitle">Day here (Wednesday)...</small>
                  </h3>
                  <p class="card-text">
                    <small>Reason of Visit here ...</small>
                  </p>
                  <p><span class="fas fa-notes-medical"></span></p>
                </div>
              </div>
            </div>

            <div class="col-md-3" style="float: left">
              <div class="card m-1">
                <div class="card-body">
                  <h3 class="card-title">
                    Data here
                    <small class="card-subtitle">Day here (Wednesday)...</small>
                  </h3>
                  <p class="card-text">
                    <small>Reason of Visit here ...</small>
                  </p>
                  <p><span class="fas fa-notes-medical"></span></p>
                </div>
              </div>
            </div>

            <div class="col-md-3" style="float: left">
              <div class="card m-1">
                <div class="card-body">
                  <h3 class="card-title">
                    Data here
                    <small class="card-subtitle">Day here (Wednesday)...</small>
                  </h3>
                  <p class="card-text">
                    <small>Reason of Visit here ...</small>
                  </p>
                  <p><span class="fas fa-notes-medical"></span></p>
                </div>
              </div>
            </div>

          </div>
          <!--/.Second slide-->
        </div>
        <!--/.Slides-->
        
      </div>
      <!--/.Carousel Wrapper-->
    </div>
  </div>
</div>