<div id="patient-info" class="col-6 bg-white m-2">
    <div class="row pt-3 lead small">
        <div class="col-8">
            <div class="col-12">Name: Patrik Harrison</div>
            <div class="col-12">Age: 35</div>
            <div class="col-12">DoB: 12/7/1975</div>
            <div><img src=".asset" alt=""></div>
        </div>
        <div class="col-4">
            <div><img style="width:70px;height:70px;"src="/assets/img/user-icon.png" alt=""></div>
        </div>
        
    </div>
</div>