<div id="doctor-finder" class="container-fluid pt-4 pb-4">
    <div class="row pt-5 pb-5">
        <div class="col-12">

            <div class="row">
                <div class="col">
                    <h2>My Doctors</h2>
                </div>
            </div>

            <div id="scroll-div" class="row pt-4">

                <!-- Iteratively give Doctors to the doctor-finder page -->
                <div *ngFor="let doctor of this.doctors;let i=index" class="col-3" id="patient-{{i+1}}">
                    <a href="{{this.home}}/doctor-info/details?doctorId={{doctor.doctorId}}">{{i+1}}. &nbsp;{{doctor.name}}</a>
                </div>

            </div>
            <div class="row">
                <div class="col p-3">
                    <small>* Scroll down to view more patients</small>
                </div>
            </div>
        </div>
    </div>
</div>