<div id="doctor-finder" class="container-fluid pt-4">
    <div class="row">
        <div class="col-12">
            <h2>My Doctors</h2>
            <div id="scroll-div" class="pt-4">

                <!-- TODO: ngFor on this element -->
                <span id="patient-doctorName1">
                    <a href="{{this.home}}/doctor-info/details">doctorName</a>
                </span>

                <!-- Delete These Spans -->
                <span id="patient-doctorName1">
                    <a href="{{this.home}}/doctor-info/details">doctorName</a>
                </span><span id="patient-doctorName1">
                    <a href="{{this.home}}/doctor-info/details">doctorName</a>
                </span><span id="patient-doctorName1">
                    <a href="{{this.home}}/doctor-info/details">doctorName</a>
                </span><span id="patient-doctorName1">
                    <a href="{{this.home}}/doctor-info/details">doctorName</a>
                </span><span id="patient-doctorName1">
                    <a href="{{this.home}}/doctor-info/details">doctorName</a>
                </span><span id="patient-doctorName1">
                    <a href="{{this.home}}/doctor-info/details">doctorName</a>
                </span><span id="patient-doctorName1">
                    <a href="{{this.home}}/doctor-info/details">doctorName</a>
                </span><span id="patient-doctorName1">
                    <a href="{{this.home}}/doctor-info/details">doctorName</a>
                </span><span id="patient-doctorName1">
                    <a href="{{this.home}}/doctor-info/details">doctorName</a>
                </span><span id="patient-doctorName1">
                    <a href="{{this.home}}/doctor-info/details">doctorName</a>
                </span><span id="patient-doctorName1">
                    <a href="{{this.home}}/doctor-info/details">doctorName</a>
                </span><span id="patient-doctorName1">
                    <a href="{{this.home}}/doctor-info/details">doctorName</a>
                </span><span id="patient-doctorName1">
                    <a href="{{this.home}}/doctor-info/details">doctorName</a>
                </span><span id="patient-doctorName1">
                    <a href="{{this.home}}/doctor-info/details">doctorName</a>
                </span>

            </div>
        </div>
    </div>
</div>