<!-- Create New Labwork -->
<div class="row new-content">
    <div class="col-12">
        <h4> New Labwork </h4>
        <form id="lab-new-form" class="row lab-form">
            <div class="col-12">
                <label for="labwork_name">*Labwork Name:</label>
                <input type="text" id="labwork_name" name="labwork_name" required/>
            </div>
            <div class="col-12 col-md-6">
                <label for="labwork_due">*Due by:</label>
                <input type="datetime-local" id="labwork_due" name="labwork_due" required/>
            </div>
            <div class="col-12 col-md-6">
                <label for="labwork_upload">*Upload (PDF only):</label>
                <input type="file" id="labwork_upload" name="labwork_upload" required/>
            </div>
            <div class="col-12">
                <label for="labwork_desc">Description:</label>
                <textarea id="labwork_desc" name="labwork_desc"></textarea>
            </div>
            <div class="labform-buttons">
                <button type="submit">Create</button>
                <button type="reset">Reset</button>
            </div>
        </form>
    </div>
</div>