<div class="
    charting
    container-fluid
    example-large-box
    mat-elevation-z4
    section-holder
  ">
  <div class="row h-100">
    <div class="col-sm-6 col-lg-5">
      <div class="row h-50" style="font-weight: bold;">
        <!-- Patient Insurance details -->
        <div class="col">
          Patient Insurance details :
          <br /><br />
          <div class=" col row">
            <p>Primary Insurance:</p> &nbsp; &nbsp;
            <p>Visit Copay:</p>
          </div>
          <div class=" col row">
            <p>Secondary Insurance:</p> &nbsp; &nbsp;
            <p>Visit Copay:</p>
          </div>
          <br />
          <p>Next Appointment: </p>
        </div>
      </div>
      <div class="row h-50" style="font-weight: bold;">
        <!-- Medical History -->
        <div class="col">Medical History</div>
      </div>
    </div>

    <!-- Patient reports -->
    <div class="col-6 col-lg-7">
      <div class="row">
        <!-- Physical Information -->
        <div class="col-12 col-lg-4 text-center" style="font-weight: bold;">
          <picture>
            <img [src]="imagePath" id="human-body-img" alt="Patient's Physical Details"/>
          </picture>
          <div>
              <div>Height: <span id="patient-height">189</span>cm</div>
              <div>Weight: <span id="patient-weight">140</span>lb</div>
          </div>
        </div>

        <!-- Patient Reports -->
        <div class="col-12 col-lg-8" style="font-weight: bold;">
          Patient reports (BMI, Blood Pressure , Smoking)
          <br />
          <mat-grid-list cols="4" rowHeight="50px">
            <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color">
              {{tile.text}}
            </mat-grid-tile>
          </mat-grid-list>

        </div>
      </div>
    </div>
  </div>
</div>