<div class="charting container-fluid example-large-box mat-elevation-z4 section-holder">
  <div class="row h-100">
    <div class="col-sm-6 col-lg-5">
      <div class="row h-50">
        <!-- Patient Insurance details -->
        <div class="col">Patient Insurance details</div>
      </div>
      <div class="row h-50">
        <!-- Medical History -->
        <div class="col">Medical History</div>
      </div>
    </div>

    <!-- Patient reports -->
    <div class="col-6 col-lg-7">
      <div class="row">
        <!-- Physical Information -->
        <div class="col-12 col-lg-4">Physical Information (Skeleton, Height, Weight)</div>

        <!-- Patient Reports -->
        <div class="col-12 col-lg-8">Patient reports (BMI, Blood Pressure , Smoking)</div>
      </div>
    </div>
  </div>
</div>
 
 