<!-- Create New Labwork -->
<div class="row new-content">
    <div class="col-12">
        <h4> Free text </h4>
        <form id="freetext-form" class="row lab-form">
            <div class="col-12">
                <label for="freetext_name">*Note Name:</label>
                <input type="text" id="freetext_name" name="freetext_name" required/>
            </div>
            <div class="col-12">
                <label for="freetext_notes">*Progress notes:</label>
                <textarea id="freetext_notes" name="freetext_notes"></textarea>
            </div>
            <div class="col-12">
                <label for="freetext_due">Description (Any Comment, P.S etc...):</label>
                <textarea id="freetext_desc" name="freetext_desc"></textarea>
            </div>
            <div class="labform-buttons">
                <button type="submit">Create</button>
                <button type="reset">Reset</button>
            </div>
        </form>
    </div>
</div>