<!-- Navigation bar -->
<nav>
    <div id="main-nav" class="container-fluid">
        <div id="navbar-toprow" class="row">
        <!-- Company Logo -->
        <div id="logo-region" class="col-lg-2 col-md-3 col-10 text-center">
            <a class="mt-2 mt-lg-0" href="/"><h1><span style="font-weight: 700;font-size: 150%;">+</span> PracticeEHR</h1></a>
        </div>
        <div id="nav-toggle" class="col-2 text-center p-4">
            <i class="fas fa-bars"></i>
        </div>
        <div id="patient-info-region" class="col-lg-7 col-md-6 col-12">

            <!-- TODO: Himani Patel's work -->
            <div id="patient-info" class="m-2 p-3" style="border:1px solid black;">
                Patient Basic Details:Himani's work
            </div>


        </div>
        <div id="account-ref-holder" class="col-lg-3 col-md-3 col-12">
            <!-- Account Specific Features -->
            <div class="row">
            <div class="col">
                <!-- TODO: Employee Email and Department Here -->
            </div>
            </div>
            <div class="row">
            <div class="col">
                <!-- Todo: / Setting / Logout  -->
            </div>
            </div>
        </div>
        </div>
    </div>
</nav>