<!-- View all Patinet labworks -->
<div class="row view-content">
    <div class="col-12 p-4">
        <h4> All of Patient's Progress</h4>
        <p class="small">Note: If you see the table empty, this means the patient has no Progress notes associated with them at current time.</p>
        <div class="lab-table-region">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr><th>Sno.</th><th>Name</th><th>Description</th><th>Created at</th></tr>
                </thead>
                <tbody>
                    <!-- Content Updated by the Lab Report API -->
                    <tr><td>1</td><th>Name</th><td>First Row</td><td>00/00/00 00:00:00 UTC</td></tr>
                    <tr><td>2</td><th>Name</th><td>Second Row</td><td>00/00/00 00:00:00 UTC</td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>